.bank{
color: blue;}

.position{
  row-gap: 20px;
}
.image{height: 815px;
  width: 605px;
  border-radius: 0px;
  
  }
  .form{width: 642px;
    height: 815px;
    padding-left: 500px;
    background: #F8F8F8;
    text-align: center;
  }
  .notify{
    display: none;
  }

  .income {
    margin-left: 70px;
  }
  .expense{
    margin-left: 70px;
  }