.bank{
color: blue;}

.position{
  
}
.image{height: 815px;
  width: 605px;
  border-radius:10px;
  
  }
  .form{
    background-color: #F8F8F8;
    text-align: center;
  }
  
  .income {
    margin-left: 70px;
  }
  .expense{
    margin-left: 70px;
  }
  @media (max-width:500px){
    .bank{
      font-size: 60px;
      margin-left:50px ;
    }
    .image{height: 815px;
      width: 420px;}
    .form{
      width: 420px;
      margin-left: 40px;
      padding-bottom: 10px;
      margin-bottom: 30px;
    }
  }